@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-slim {
    border: 1px solid #000;
  }

  .border-super-slim {
    border: .5px solid #000;
  }

  .border-super-slim-l {
    border-left: .5px solid #000;
  }

  .border-super-slim-r {
    border-right: .5px solid #000;
  }

  .border-super-slim-t {
    border-top: .5px solid #000;
  }

  .border-super-slim-b {
    border-bottom: .5px solid #000;
  }

  .py-thin {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .gap-notice {
    gap: 2.9rem;
  }
}

@layer components {
  .paper-container {
    @apply relative;
    height: 77.953rem;
  }

  .paper-pin {
    @apply w-[29px] h-[15px] bg-black;
  }
}
